- top three artists DONE 
- top three songs DONE
- top three albums **

- most streamed song and the number of times it was played.
- most streamed album **
- most streamed artist
- all the genres i listened to and what was the top 3
- total minutes listened to on spotify and compared to other users hwo it stood out (do this by adding up the msPlayed var)

- how  much time you spent listening to a song or an album and I could also tell how much more or less that was compared to other people based on global data of that very song or the album.

// maybe look into if this data could be used to predict next year's top artist or song.


start by noting down the needs and basic variables I would need to go ahead with all the analysis and visualisation. 
Don't waste time by jsut trying stuff.

** need to add an album column in the songs csv out of the playlists json, converting it to csv and then analysing what album was most listened to might be another analytic

Main aspects of this project
- collected the data using spotify api
- cleaned and preprocessed the data
- analysis 
- visualisation
- maybe a dashbaord


CHECK THIS OUT THIS LETS YOU FURTHER ANALYSE USING FEATURES LIKE DANCEABLITY ETC
https://medium.com/analytics-vidhya/easy-no-code-data-collection-using-spotifys-web-api-a381db04976b